@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&family=JetBrains+Mono:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background: radial-gradient(70.71% 70.71% at 50% 50%, #F0F0F0 1.47%, rgba(240, 240, 240, 0) 100%), #FFFFFF;
  background-attachment: fixed;
}
